*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}


.links-wrapper ul li a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
} 
.links-wrapper ul li {
    display: inline-block;
    padding-right: 20px;

}
.links-wrapper ul li a{
    color: #06c;
	text-decoration: none;
    display: inline-block;
}
.links-wrapper ul li a:hover{
    color: #000;
}






.title-wraper{
    font-weight: 600;
	font-size: 56px;
}
.description-wrapper{
    font-size: 26px;
	padding: 10px 0;
}
.price-wrapper{
    color: #86868b; 
	font-size: 0.85em;
    text-align: center;
}



.left-side-wrapper{
    background-image: url("../resource/home/watch-series-5.jpg");
    width: 48.5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1% 0.5% 0% 1%;
    padding: 65px 20px;
    text-align: center;
    height: 580px;

}
.right-side-wrapper{
    background-image: url(../resource/home/apple-card.jpg);
    width: 48.5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1% 1% 0% 0.5%;
    padding: 65px 20px;
    text-align: center;
    padding-top: 54px;
    height: 580px;
    background-size: initial;
}

.links-wrapper{
    padding: 15px 0;
}

/* fifth-section-wrapper */
.fifth-section-wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
}
.fifth-section-wrapper .left-side-wrapper {
    background-image: url(../images/home/apple-tv-background.jpg);
}
.fifth-section-wrapper .right-side-wrapper{
    background-image: url(../images/home/air-pods.jpg);
    color: #fff; 
	background-size: initial;
	background-color: #000;
	background-position: bottom;
}
.fifth-section-wrapper .right-side-wrapper .logo-wrapper {
    font-size: 40px;
    font-weight: bold;
}

.tvshow-logo-wraper {
	padding: 260px 0 200px;
}
.watch-more-wrapper a{
	text-decoration: none;
	font-size: 0.85em;
}
.watch-more-wrapper a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f144";
    padding-left: 15px;
}
.fifth-section-wrapper .right-side-wrapper .links-wrapper ul li a:hover{
    color: #fff;
}